<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

 
<table class="table">

<tbody>
    <%  if @category.cosmetics.each do |cosmetic| %>
      <tr>
        <td><%= cosmetic.name %></td>
        <td><%= image_tag(cosmetic.picture_url, :width => 100) if cosmetic.picture.present? %></td>
        <td><%= cosmetic.description %></td>
        <td><%= cosmetic.category.name if cosmetic.category.present? %></td>
        <td><%= link_to 'Show', cosmetic, class: "btn btn-primary btn-lg" %></td>
        <td><%= link_to 'Edit', edit_cosmetic_path(cosmetic), class: "btn btn-success btn-lg" %></td>
        <td><%= link_to 'Destroy', cosmetic, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning btn-lg" %></td>
    
      </tr>
    <% end.empty? %>
    Products not found!
    <% end %>
    
  </tbody>
</table>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
